<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
</head>
<body>
  
  <h1>this page shows individual book details</h1>

  <p>The book name is <strong><%= book.title %></strong> by <%= book.author %>.</p>


  <p>Is there any missing or incorrect data about the book above? modify book info   <a href="/users/<%= user._id %>/books/<%= book._id %>/edit">here</a>.</p>

    
</body>
</html>