<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Details</title>
</head>
<body>
    <p>The list "<strong><%= lists.listType%></strong>" - <%= lists.description%>, has the following books:</p>
    <p>Wish to add books to this list? <a href="/user/<%=user._id%>/nUser/">here</a></p>
</body>
</html>