<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/forms.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <title>Add New List</title>
</head>
<body>
    
    <h1>this page allows you to create a new list</h1>
    <form action="/users/<%= user._id %>/nUser" method="POST">

        <label for="listType">Type of list:
            <select id="listType" name="listType" required>
                <option value="" select hidden>--select one--</option>
                <option value="want to read">Want to Read</option>
                <option value="read">Read already</option>
                <option value="DNF">Did not finish</option>
                <option value="favorite">Favorite</option>
              </select>
        </label>

<br><br>
        <label for="description">Description:
            <textarea name="description" id="description"></textarea>
          </label>
          <br><br>
        <button type="submit">Create new list</button>

    </form>
    
</body>
</html>