<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Book Details</title>
</head>
<body>
  
  <h1>this page shows individual book details</h1> <a href="/auth/sign-out">Sign Out</a>

  <p>The book name is <strong><%= book.title %></strong> by <%= book.author %>.</p>
    
</body>
</html>